{% load static %}
{% include 'Movieapp/header.html' %}
<html>
<head>
<title></title>
</head>
<body>
<div class = 'table' style=width:100%;cellpadding:10px;margin:10px>
<table style="width:100%;border=1;font-size:22px">
<caption>Customer Information</caption>

<tbody style="font-size:18px">

<thead>
<th>Id</th><br/>
<th>Name</th><br/>
<th>last Name</th>

<th>Email Id</th>
<th>Password</th>
<th>Contact</th>
<th>Address</th>
<th>Action</th>


</thead>
</tbody>
{% for  customer in customerlist %}
<tr style=font-size:18px;color:green;align:left;width:80px>
<td>{{customer.custId}}</td>
<td>{{customer.custName}}</td>
<td>{{customer.custLname}}</td>

<td>{{customer.custEmail}}</td>
<td>{{customer.custPassword}}</td>
<td>{{customer.custContact}}</td>
<td>{{customer.custAddress}}</td>

<td><a href = "deletemovie/{{movie.MovieId}}">Delete</a></td>
<td><a href = "updatemovie{{movie.MovieId}}">Edit</a></td>

{% endfor %}
<tbody>
<tfoot>
<tr>
<th colspan="5">{{status}}</th>
</tr>
</tfoot>
</tbody>

</tr>
</div>
</table>
</body>
</html>